.card-body {
  width: 270px;
  height: 320px;
  margin-bottom: 20px;
  box-sizing: border-box;
  
  
}
.card-body img {
  width: 270px;
  margin: 0;
  /* position: relative; */
  
}
.card-body .card-name {
  position: relative;
  width: 270px;
  height: 80px;
  left: 0px;
  right: 0px;
  top: -80px;
  border-radius: 0px 0px 10px 10px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
